<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.C2cBuyAdvertisementMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.C2cBuyAdvertisement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="advert_id" property="advertId" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="trade_price" property="tradePrice" jdbcType="DECIMAL" />
    <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, advert_id, uid, nickname, asset_code, country, currency, trade_price, buy_price, 
    status, remark, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c2c_buy_advertisement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gop.domain.C2cBuyAdvertisement" >
    insert into c2c_buy_advertisement (id, advert_id, uid, 
      nickname, asset_code, country, 
      currency, trade_price, buy_price, 
      status, remark, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{advertId,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{assetCode,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{currency,jdbcType=VARCHAR}, #{tradePrice,jdbcType=DECIMAL}, #{buyPrice,jdbcType=DECIMAL}, 
      #{status,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.C2cBuyAdvertisement" >
    insert into c2c_buy_advertisement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="advertId != null" >
        advert_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="assetCode != null" >
        asset_code,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="tradePrice != null" >
        trade_price,
      </if>
      <if test="buyPrice != null" >
        buy_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="advertId != null" >
        #{advertId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="assetCode != null" >
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null" >
        #{tradePrice,jdbcType=DECIMAL},
      </if>
      <if test="buyPrice != null" >
        #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.C2cBuyAdvertisement" >
    update c2c_buy_advertisement
    <set >
      <if test="advertId != null" >
        advert_id = #{advertId,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="assetCode != null" >
        asset_code = #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="tradePrice != null" >
        trade_price = #{tradePrice,jdbcType=DECIMAL},
      </if>
      <if test="buyPrice != null" >
        buy_price = #{buyPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.C2cBuyAdvertisement" >
    update c2c_buy_advertisement
    set advert_id = #{advertId,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      asset_code = #{assetCode,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      trade_price = #{tradePrice,jdbcType=DECIMAL},
      buy_price = #{buyPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAllByShowStatus" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where status = 'SHOW'
    order by id desc
  </select>
  
  <select id="selectByAdvertId" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where advert_id = #{advertId,jdbcType=VARCHAR}
    and status = 'SHOW'
    order by id desc
  </select>
  
  
  <update id="delBuyAdvertisementByAdvertId" >
    update c2c_buy_advertisement
    set status = #{status,jdbcType=CHAR}
    where advert_id = #{advertId,jdbcType=VARCHAR}
    and status = #{beginStatus,jdbcType=CHAR}
  </update>
  
  <select id="selectC2cBuyAdvertByUid" resultMap="BaseResultMap"  parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where uid = #{uid,jdbcType=INTEGER}
    and status ='SHOW'
  </select>
  
  <select id="selectC2cBuyAdvertByUidAndStatus" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where uid = #{uid,jdbcType=INTEGER} and
    status = #{status,jdbcType=CHAR} 
  </select>
  
  <select id="selectAllStatusByAdvertId" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from c2c_buy_advertisement
    where advert_id = #{advertId,jdbcType=VARCHAR}
  </select>
  
</mapper>