<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.C2cTransOrderRecordMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.C2cTransOrderRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="trans_order_id" property="transOrderId" jdbcType="VARCHAR" />
    <result column="buy_uid" property="buyUid" jdbcType="INTEGER" />
    <result column="sell_uid" property="sellUid" jdbcType="INTEGER" />
    <result column="lock_num" property="lockNum" jdbcType="DECIMAL" />
    <result column="trans_num" property="transNum" jdbcType="DECIMAL" />
    <result column="unlock_num" property="unlockNum" jdbcType="DECIMAL" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, trans_order_id, buy_uid, sell_uid, lock_num, trans_num, unlock_num, 
    create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from c2c_trans_order_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from c2c_trans_order_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gop.domain.C2cTransOrderRecord" >
    insert into c2c_trans_order_record (id, order_id, trans_order_id, 
      buy_uid, sell_uid, lock_num, 
      trans_num, unlock_num, create_date
      )
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{transOrderId,jdbcType=VARCHAR}, 
      #{buyUid,jdbcType=INTEGER}, #{sellUid,jdbcType=INTEGER}, #{lockNum,jdbcType=DECIMAL}, 
      #{transNum,jdbcType=DECIMAL}, #{unlockNum,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.C2cTransOrderRecord" >
    insert into c2c_trans_order_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="transOrderId != null" >
        trans_order_id,
      </if>
      <if test="buyUid != null" >
        buy_uid,
      </if>
      <if test="sellUid != null" >
        sell_uid,
      </if>
      <if test="lockNum != null" >
        lock_num,
      </if>
      <if test="transNum != null" >
        trans_num,
      </if>
      <if test="unlockNum != null" >
        unlock_num,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transOrderId != null" >
        #{transOrderId,jdbcType=VARCHAR},
      </if>
      <if test="buyUid != null" >
        #{buyUid,jdbcType=INTEGER},
      </if>
      <if test="sellUid != null" >
        #{sellUid,jdbcType=INTEGER},
      </if>
      <if test="lockNum != null" >
        #{lockNum,jdbcType=DECIMAL},
      </if>
      <if test="transNum != null" >
        #{transNum,jdbcType=DECIMAL},
      </if>
      <if test="unlockNum != null" >
        #{unlockNum,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.C2cTransOrderRecord" >
    update c2c_trans_order_record
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="transOrderId != null" >
        trans_order_id = #{transOrderId,jdbcType=VARCHAR},
      </if>
      <if test="buyUid != null" >
        buy_uid = #{buyUid,jdbcType=INTEGER},
      </if>
      <if test="sellUid != null" >
        sell_uid = #{sellUid,jdbcType=INTEGER},
      </if>
      <if test="lockNum != null" >
        lock_num = #{lockNum,jdbcType=DECIMAL},
      </if>
      <if test="transNum != null" >
        trans_num = #{transNum,jdbcType=DECIMAL},
      </if>
      <if test="unlockNum != null" >
        unlock_num = #{unlockNum,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.C2cTransOrderRecord" >
    update c2c_trans_order_record
    set order_id = #{orderId,jdbcType=VARCHAR},
      trans_order_id = #{transOrderId,jdbcType=VARCHAR},
      buy_uid = #{buyUid,jdbcType=INTEGER},
      sell_uid = #{sellUid,jdbcType=INTEGER},
      lock_num = #{lockNum,jdbcType=DECIMAL},
      trans_num = #{transNum,jdbcType=DECIMAL},
      unlock_num = #{unlockNum,jdbcType=DECIMAL},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>