<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.ForkUserReceiveCandyDetailMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.ForkUserReceiveCandyDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fork_candy_id" property="forkCandyId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="fork_asset_code" property="forkAssetCode" jdbcType="VARCHAR" />
    <result column="target_asset_code" property="targetAssetCode" jdbcType="VARCHAR" />
    <result column="fork_amount" property="forkAmount" jdbcType="DECIMAL" />
    <result column="target_amount" property="targetAmount" jdbcType="DECIMAL" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fork_candy_id, uid, fork_asset_code, target_asset_code, fork_amount, target_amount, 
    exchange_rate, request_no, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fork_user_receive_candy_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.ForkUserReceiveCandyDetail" >
    insert into fork_user_receive_candy_detail (id, fork_candy_id, uid, 
      fork_asset_code, target_asset_code, fork_amount, 
      target_amount, exchange_rate, request_no, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{forkCandyId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{forkAssetCode,jdbcType=VARCHAR}, #{targetAssetCode,jdbcType=VARCHAR}, #{forkAmount,jdbcType=DECIMAL}, 
      #{targetAmount,jdbcType=DECIMAL}, #{exchangeRate,jdbcType=DECIMAL}, #{requestNo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.ForkUserReceiveCandyDetail" >
    insert into fork_user_receive_candy_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="forkCandyId != null" >
        fork_candy_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="forkAssetCode != null" >
        fork_asset_code,
      </if>
      <if test="targetAssetCode != null" >
        target_asset_code,
      </if>
      <if test="forkAmount != null" >
        fork_amount,
      </if>
      <if test="targetAmount != null" >
        target_amount,
      </if>
      <if test="exchangeRate != null" >
        exchange_rate,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="forkCandyId != null" >
        #{forkCandyId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="forkAssetCode != null" >
        #{forkAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="targetAssetCode != null" >
        #{targetAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="forkAmount != null" >
        #{forkAmount,jdbcType=DECIMAL},
      </if>
      <if test="targetAmount != null" >
        #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.ForkUserReceiveCandyDetail" >
    update fork_user_receive_candy_detail
    <set >
      <if test="forkCandyId != null" >
        fork_candy_id = #{forkCandyId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="forkAssetCode != null" >
        fork_asset_code = #{forkAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="targetAssetCode != null" >
        target_asset_code = #{targetAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="forkAmount != null" >
        fork_amount = #{forkAmount,jdbcType=DECIMAL},
      </if>
      <if test="targetAmount != null" >
        target_amount = #{targetAmount,jdbcType=DECIMAL},
      </if>
      <if test="exchangeRate != null" >
        exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.ForkUserReceiveCandyDetail" >
    update fork_user_receive_candy_detail
    set fork_candy_id = #{forkCandyId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      fork_asset_code = #{forkAssetCode,jdbcType=VARCHAR},
      target_asset_code = #{targetAssetCode,jdbcType=VARCHAR},
      fork_amount = #{forkAmount,jdbcType=DECIMAL},
      target_amount = #{targetAmount,jdbcType=DECIMAL},
      exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      request_no = #{requestNo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert id="addForkUserReceiveCandyDetail" parameterType="com.gop.domain.ForkUserReceiveCandyDetail" >
    insert into fork_user_receive_candy_detail (fork_candy_id, uid, 
      fork_asset_code, target_asset_code, fork_amount, 
      target_amount, exchange_rate, request_no)
    values (#{forkCandyId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{forkAssetCode,jdbcType=VARCHAR}, #{targetAssetCode,jdbcType=VARCHAR}, #{forkAmount,jdbcType=DECIMAL}, 
      #{targetAmount,jdbcType=DECIMAL}, #{exchangeRate,jdbcType=DECIMAL}, #{requestNo,jdbcType=VARCHAR})
  </insert>
  
</mapper>