<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.InviteCompleteInfoMapper">
	<resultMap id="BaseResultMap" type="com.gop.domain.InviteCompleteInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="invite_uid" property="inviteUid" jdbcType="INTEGER" />
		<result column="invite_email" property="inviteEmail" jdbcType="VARCHAR" />
		<result column="activity_id" property="activityId" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uid, invite_uid, invite_email, activity_id, create_date, update_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from invite_complete_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="insert" parameterType="com.gop.domain.InviteCompleteInfo">
		insert into invite_complete_info (id, uid, invite_uid,
		invite_email, activity_id, create_date,
		update_date)
		values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER},
		#{inviteUid,jdbcType=INTEGER},
		#{inviteEmail,jdbcType=VARCHAR}, #{activityId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.gop.domain.InviteCompleteInfo">
		insert into invite_complete_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="inviteUid != null">
				invite_uid,
			</if>
			<if test="inviteEmail != null">
				invite_email,
			</if>
			<if test="activityId != null">
				activity_id,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="updateDate != null">
				update_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="inviteUid != null">
				#{inviteUid,jdbcType=INTEGER},
			</if>
			<if test="inviteEmail != null">
				#{inviteEmail,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				#{activityId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				#{updateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.InviteCompleteInfo">
		update invite_complete_info
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=INTEGER},
			</if>
			<if test="inviteUid != null">
				invite_uid = #{inviteUid,jdbcType=INTEGER},
			</if>
			<if test="inviteEmail != null">
				invite_email = #{inviteEmail,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null">
				activity_id = #{activityId,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.gop.domain.InviteCompleteInfo">
		update invite_complete_info
		set uid = #{uid,jdbcType=INTEGER},
		invite_uid = #{inviteUid,jdbcType=INTEGER},
		invite_email = #{inviteEmail,jdbcType=VARCHAR},
		activity_id = #{activityId,jdbcType=INTEGER},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		update_date = #{updateDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="countInviteCompleteInfoByInviteUidAndActivityId"
		resultType="java.lang.Integer">
		select
		count(1)
		from invite_complete_info
		where invite_uid = #{inviteUid,jdbcType=INTEGER}
		and activity_id = #{activityId,jdbcType=INTEGER}
	</select>
	<select id="selectInviteCompleteInfoByInviteUidAndActivityId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from invite_complete_info
		where invite_uid = #{inviteUid,jdbcType=INTEGER}
		and activity_id = #{activityId,jdbcType=INTEGER}
	</select>
	<select id="selectInviteCompleteInfoByUidAndActivityId"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from invite_complete_info
		<where>
			<if test="uid != null">
				and uid = #{uid,jdbcType=INTEGER}
			</if>
			<if test="activityId != null">
				and activity_id = #{activityId,jdbcType=INTEGER}
			</if>
		</where>
	</select>
</mapper>