<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.InviteUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.InviteUserInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, invite_code, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invite_user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.InviteUserInfo" >
    insert into invite_user_info (id, uid, invite_code, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.InviteUserInfo" >
    insert into invite_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.InviteUserInfo" >
    update invite_user_info
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.InviteUserInfo" >
    update invite_user_info
    set uid = #{uid,jdbcType=INTEGER},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getInviteUserInfoByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
   select 
   <include refid="Base_Column_List" />
   from invite_user_info
   where uid = #{uid,jdbcType=INTEGER}
  </select>
  <insert id="addInviteUserInfo" parameterType="com.gop.domain.InviteUserInfo" >
    insert into invite_user_info (uid, invite_code)
    values (#{uid,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR})
  </insert>
  <select id="getInviteUserInfoByInviteCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
   select 
   <include refid="Base_Column_List" />
   from invite_user_info
   where invite_code = #{inviteCode,jdbcType=VARCHAR}
  </select>
</mapper>