<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.JubiUserInformationDetailMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.JubiUserInformationDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="jubi_id" property="jubiId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="asset_code" property="assetCode" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, jubi_id, uid, asset_code, amount, request_no, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jubi_user_information_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.JubiUserInformationDetail" >
    insert into jubi_user_information_detail (id, jubi_id, uid, 
      asset_code, amount, request_no, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{jubiId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{assetCode,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{requestNo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.JubiUserInformationDetail" >
    insert into jubi_user_information_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="jubiId != null" >
        jubi_id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="assetCode != null" >
        asset_code,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jubiId != null" >
        #{jubiId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="assetCode != null" >
        #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.JubiUserInformationDetail" >
    update jubi_user_information_detail
    <set >
      <if test="jubiId != null" >
        jubi_id = #{jubiId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="assetCode != null" >
        asset_code = #{assetCode,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.JubiUserInformationDetail" >
    update jubi_user_information_detail
    set jubi_id = #{jubiId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      asset_code = #{assetCode,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      request_no = #{requestNo,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="addJubiUserInformationDetail" parameterType="com.gop.domain.JubiUserInformationDetail" >
    insert into jubi_user_information_detail (jubi_id, uid, 
      asset_code, amount, request_no)
    values (#{jubiId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{assetCode,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{requestNo,jdbcType=VARCHAR})
  </insert>
</mapper>