<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.ManagerPasswordOperRecordMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.ManagerPasswordOperRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="modify_flag" property="modifyFlag" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, admin_id, modify_flag, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manager_password_oper_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.ManagerPasswordOperRecord" >
    insert into manager_password_oper_record (id, admin_id, modify_flag, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{modifyFlag,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.ManagerPasswordOperRecord" >
    insert into manager_password_oper_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="modifyFlag != null" >
        modify_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="modifyFlag != null" >
        #{modifyFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.ManagerPasswordOperRecord" >
    update manager_password_oper_record
    <set >
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="modifyFlag != null" >
        modify_flag = #{modifyFlag,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.ManagerPasswordOperRecord" >
    update manager_password_oper_record
    set admin_id = #{adminId,jdbcType=INTEGER},
      modify_flag = #{modifyFlag,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectManagerPasswordOperRecord" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from manager_password_oper_record
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <insert id="addManagerPasswordOperRecord" parameterType="com.gop.domain.ManagerPasswordOperRecord" >
    insert into manager_password_oper_record (admin_id, modify_flag)
    values (#{adminId,jdbcType=INTEGER}, #{modifyFlag,jdbcType=CHAR})
  </insert>
  <update id="updateManagerPasswordOperRecordFlagByAdminId">
    update manager_password_oper_record
    set modify_flag = #{modifyFlag,jdbcType=CHAR}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
</mapper>