<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.QuantFundAdmissionTicketMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.QuantFundAdmissionTicket" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="fund_asset_code" property="fundAssetCode" jdbcType="VARCHAR" />
    <result column="lock_asset_code" property="lockAssetCode" jdbcType="VARCHAR" />
    <result column="lock_amount" property="lockAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, fund_asset_code, lock_asset_code, lock_amount, status, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quant_fund_admission_ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.QuantFundAdmissionTicket" >
    insert into quant_fund_admission_ticket (id, uid, fund_asset_code, 
      lock_asset_code, lock_amount, status, 
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{fundAssetCode,jdbcType=VARCHAR}, 
      #{lockAssetCode,jdbcType=VARCHAR}, #{lockAmount,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.QuantFundAdmissionTicket" >
    insert into quant_fund_admission_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="fundAssetCode != null" >
        fund_asset_code,
      </if>
      <if test="lockAssetCode != null" >
        lock_asset_code,
      </if>
      <if test="lockAmount != null" >
        lock_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="fundAssetCode != null" >
        #{fundAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="lockAssetCode != null" >
        #{lockAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="lockAmount != null" >
        #{lockAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.QuantFundAdmissionTicket" >
    update quant_fund_admission_ticket
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="fundAssetCode != null" >
        fund_asset_code = #{fundAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="lockAssetCode != null" >
        lock_asset_code = #{lockAssetCode,jdbcType=VARCHAR},
      </if>
      <if test="lockAmount != null" >
        lock_amount = #{lockAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.QuantFundAdmissionTicket" >
    update quant_fund_admission_ticket
    set uid = #{uid,jdbcType=INTEGER},
      fund_asset_code = #{fundAssetCode,jdbcType=VARCHAR},
      lock_asset_code = #{lockAssetCode,jdbcType=VARCHAR},
      lock_amount = #{lockAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getQuantFundAdmissionTicketByUidAndFundAssetCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quant_fund_admission_ticket
    where uid = #{uid,jdbcType=INTEGER}
    and fund_asset_code = #{fundAssetCode,jdbcType=VARCHAR}
  </select>
  
  <insert id="addQuantFundAdmissionTicket" parameterType="com.gop.domain.QuantFundAdmissionTicket" useGeneratedKeys="true" keyProperty="id">
    insert into quant_fund_admission_ticket (uid, fund_asset_code, 
      lock_asset_code, lock_amount, status)
    values (#{uid,jdbcType=INTEGER}, #{fundAssetCode,jdbcType=VARCHAR}, 
      #{lockAssetCode,jdbcType=VARCHAR}, #{lockAmount,jdbcType=DECIMAL}, #{status,jdbcType=CHAR})
  </insert>
  <update id="updateQuantFundAdmissionTicketStatusById">
    update quant_fund_admission_ticket
    set status = #{endStatus,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER} and status = #{beginStatus,jdbcType=CHAR}
  </update>
</mapper>