<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gop.mapper.UserTransactionFeeWhiteListMapper" >
  <resultMap id="BaseResultMap" type="com.gop.domain.UserTransactionFeeWhiteList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, create_date, update_date, admin_id, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_transaction_fee_white_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.gop.domain.UserTransactionFeeWhiteList" >
    insert into user_transaction_fee_white_list (id, uid, create_date, 
      update_date, admin_id, flag
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{adminId,jdbcType=INTEGER}, #{flag,jdbcType=CHAR}
      ) 
  </insert>
  <insert id="insertSelective" parameterType="com.gop.domain.UserTransactionFeeWhiteList" >
    insert into user_transaction_fee_white_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gop.domain.UserTransactionFeeWhiteList" >
    update user_transaction_fee_white_list
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gop.domain.UserTransactionFeeWhiteList" >
    update user_transaction_fee_white_list
    set uid = #{uid,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countUserInWhiteByUid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(1)
    from user_transaction_fee_white_list
    where uid = #{uid,jdbcType=INTEGER} and flag = 'VALID'
  </select>
  
  <select id="checkUidInWhiteListByUid" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(1)
    from user_transaction_fee_white_list
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_transaction_fee_white_list
    where flag = 'VALID'
    <if test="uid != null" >
       and uid = #{uid,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_transaction_fee_white_list
    where flag = 'VALID'
  </select>
  
  <update id="updateByUidInValid" >
    update user_transaction_fee_white_list
    set flag = 'INVALID'
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  
  <update id="updateByUidSelective" parameterType="com.gop.domain.UserTransactionFeeWhiteList" >
    update user_transaction_fee_white_list
    <set >
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=CHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>

</mapper>